@{
    Layout = null;
}

<!DOCTYPE html>
<html @*:class="{ 'theme-dark': dark }"*@ x-data="data()" lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StopHere - Criar conta</title>
    <link href="~/css1/bootstrap.min.css"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <link href="~/assets/css/tailwind.output.css"
          rel="stylesheet" />
    <link type="imagex/png" href="/img1/Icons/stophere_icon.ico"
          rel="shortcut icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
            defer></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
            defer></script>
    <script src="~/assets/js/ValidacaoPessoaJuridica.js"
            defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"
            defer></script>
    <style>
        #title {
            color: black;
            margin-top: 30px;
        }

        #buttonCadastrarPessoaJuridica {
            border-radius: 5px;
            background-color: #95cd2f;
            border: none;
            font-family: #373e42;
            color: black;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            padding: 8px;
            margin-right: 5px;
            margin-top: 40px;
            margin-bottom: 25px;
            align-self: center;
        }

        input[type='file'] {
            display: none;
        }

        .max-width {
            max-width: 500px;
            width: 100%;
        }

        #imgPhoto:hover {
            background-color: #eee;
            border: 4px solid rgb(128 128 128);
        }

        #imgPhoto {
            width: 200px;
            height: 200px;
            background-color: #eee;
            border-radius: 50%;
            cursor: pointer;
            align-self: center;
        }
    </style>
</head>
<body>
    <form id="formulario" asp-action="CreateLegal" enctype="multipart/form-data" method="post">
        <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
            <div class="flex-1 h-full max-w-xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800">
                <h1 class="mb-4 text-xl py-3 font-bold text-center text-gray-600 dark:text-gray-200" id="title">
                    Informe seus dados nos campos abaixo
                </h1>
                <div class="flex align-items-lg-start justify-center p-6 sm:p-12">
                    <div>
                        <!-- Foto Usuário -->
                        <div class="max-width">
                            <div class="imageContainer">
                                <img src="~/Fotos/DefaultSemFoto/FotoDefaultCadastroPessoaFisica&Juridica.png" title="Clique aqui para adicionar uma foto" id="imgPhoto">
                            </div>
                        </div>
                        <input type="file" id="FotoPerfil" name="FotoPerfil" accept="image/*">
                    </div>
                </div>
                <div class="flex flex-col overflow-y-auto">
                    <div class="items-center justify-center p-6 sm:p-12" style="padding-top: 0px; padding-bottom: 0px;">
                        <div>
                            <!-- Campo Razão Social -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Razão Social</span>
                                <input id="RazaoSocial" name="RazaoSocial" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Dígite sua razão social" onblur="ValidaRazaoSocial()" />
                                <span id="erroValidacaoRazaoSocial" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo Nome Fantasia -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Nome Fantasia</span>
                                <input id="NomeFantasia" name="NomeFantasia" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Dígite seu nome fantasia" onblur="ValidaNomeFantasia()" />
                                <span id="erroValidacaoNomeFantasia" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo CNPJ -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">CNPJ</span>
                                <input id="CNPJ" name="CNPJ" class="form-control w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Ex.: Dígite seu CNPJ" onkeypress="$(this).mask('00000000000000');" onblur="ValidaCNPJ()" />
                                <span id="erroValidacaoCNPJ" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo Inscrição Estadual -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Inscrição Estadual</span>
                                <input id="InscricaoEstadual" name="InscricaoEstadual" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Ex.: Dígite sua inscrição estadual" onkeypress="$(this).mask('000000000');" onblur="ValidaInscricaoEstadual()" />
                                <span id="erroValidacaoInscricaoEstadual" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo E-mail -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">E-mail</span>
                                <input id="Email" name="Email" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Ex.: meuemail@email.com" onblur="ValidaEmail()" />
                                <span id="erroValidacaoEmail" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo Celular -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Celular</span>
                                <input id="Telefone" name="Telefone" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Ex.: Dígite o celular" onkeypress="$(this).mask('0000000-0000');" onblur="ValidaTelefone()" />
                                <span id="erroValidacaoTelefone" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo CEP -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">CEP</span>
                                <input id="CEP" name="CEP" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Ex.: Dígite seu CEP" onkeypress="$(this).mask('00000000');" onblur="ValidaCEP()" />
                                <span id="erroValidacaoCEP" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo Estado -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Estado</span>
                                <select id="UF" name="UF" onblur="ValidaUF()" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input">
                                    @{
                                        string[] valoresUF = Enum.GetNames(typeof(Entities.Enums.UF));
                                    }
                                    @for (int i = 0; i < valoresUF.Length; i++)
                                    {
                                        <option value="@i">@valoresUF[i].Replace("_", " ")</option>
                                    }
                                </select>
                                <span id="erroValidacaoUF" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo Cidade -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Cidade</span>
                                <input id="Cidade" name="Cidade" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Dígite sua cidade" onblur="ValidaCidade()" />
                                <span id="erroValidacaoCidade" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo Bairro -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Bairro</span>
                                <input id="Bairro" name="Bairro" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Dígite seu bairro" onblur="ValidaBairro()" />
                                <span id="erroValidacaoBairro" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo Endereço -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Endereço</span>
                                <input id="Rua" name="Rua" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Ex.: Rua ou Avenida das Torres" onblur="ValidaRua()" />
                                <span id="erroValidacaoRua" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo Número -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Número</span>
                                <input id="Numero" name="Numero" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Ex.: 123456" onkeypress="$(this).mask('000000');" onblur="ValidaNumero()" />
                                <span id="erroValidacaoNumero" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo Senha -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Senha</span>
                                <input id="Senha" name="Senha" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="********"
                                       type="password" onblur="ValidaSenha(true)" />
                                <span id="erroValidacaoSenha" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                            <!-- Campo Confirmar Senha -->
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400">Confirme sua senha</span>
                                <input id="SenhaConfirmacao" name="SenhaConfirmacao" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="********"
                                       type="password" onblur="ValidaSenhaConfirmacao(true)" />
                                <span id="erroValidacaoSenhaConfirmacao" class="text-xs text-red-600 dark:text-red-400"></span>
                            </label>
                        </div>
                    </div>
                    <!-- Botão Cadastrar -->
                    <div class="flex justify-center p-4 m-2">
                        <input id="buttonCadastrarPessoaJuridica" value="Cadastrar" type="button" onclick="ValidaFormulario(true)" class="block col-6 px-4 py-2 mt-4 text-sm font-medium leading-5 text-center transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" />
                    </div>
                </div>
            </div>
        </div>
        @if (ViewBag.Error != null)
        {
            <div class="container justify-center">
                <div class="modal show" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Atenção!</h4>
                            </div>
                            <div class="modal-body">
                                <p>@ViewBag.Error</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
        <script src="~/assets/js/init-alpine.js"></script>
    </form>
    <script src="~/js1/jquery-3.4.1.min.js"></script>
    <script src="~/js1/bootstrap.min.js"></script>
    @if (ViewBag.Error != null)
    {
        <script type="text/javascript">
            $(window).on('load', function () {
                var delayMs = 500; // Delay in milliseconds.

                setTimeout(function () {
                    $('#myModal').modal('show');
                }, delayMs);
            });
        </script>
    }
    <script>
        let photo = document.getElementById('imgPhoto');
        let file = document.getElementById('FotoPerfil');

        photo.addEventListener('click', () => {
            file.click();
        });

        file.addEventListener('change', () => {

            if (file.files.length <= 0) {
                return;
            }

            let reader = new FileReader();

            reader.onload = () => {
                photo.src = reader.result;
            }

            reader.readAsDataURL(file.files[0]);
        });
    </script>
    <script>

        $(document).ready(function () {

            const ufs = new Array("Selecione uma UF", "AC", "AL", "AP", "AM", "BA", "CE", "DF", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO");

            function limpa_formulário_cep() {
                // Limpa valores do formulário de CEP.
                $("#Rua").val("");
                $("#Bairro").val("");
                $("#Cidade").val("");
                $("#UF").val("");
                $("#ibge").val("");
            }

            // Quando o campo CEP perde o foco.
            $("#CEP").blur(function () {

                // Nova variável "CEP" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                // Verifica se campo CEP possui valor informado.
                if (cep != "") {

                    // Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    // Válida o formato do CEP.
                    if (validacep.test(cep)) {

                        // Preenche os campos com "..." enquanto consulta webservice.
                        $("#Rua").val("...");
                        $("#Bairro").val("...");
                        $("#Cidade").val("...");
                        $("#UF").val("...");

                        // Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                            if (!("erro" in dados)) {
                                // Atualiza os campos com os valores da consulta.
                                $("#Rua").val(dados.logradouro);
                                $("#Bairro").val(dados.bairro);
                                $("#Cidade").val(dados.localidade);

                                for (var i = 0; i < ufs.length; i++) {
                                    if (ufs[i] == dados.uf) {
                                        $("#UF").val(i);
                                    }
                                }
                            } // end if.
                            else {
                                // CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } // end if.
                    else {
                        // CEP é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } // end if.
                else {
                    // CEP sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });
    </script>
</body>
</html>
