@{
    Layout = null;
}

<!DOCTYPE html>
<html @*:class="{ 'theme-dark': dark }"*@ x-data="data()" lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StopHere - Entrar</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <link href="~/assets/css/tailwind.output.css"
          rel="stylesheet" />
    <link type="imagex/png" href="/img1/Icons/stophere_icon.ico"
          rel="shortcut icon" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
            defer></script>
    <script src="~/assets/js/init-alpine.js"
            defer></script>
    <style>
        #buttonEntrar {
            border-radius: 5px;
            background-color: #95cd2f;
            border: none;
            font-family: #373e42;
            color: #ffffff;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            padding: 8px;
            margin-right: 5px;
            margin-top: 15px;
            cursor: pointer;
            text-shadow: 1px 1px 2px black;
        }

        #linkCliqueAqui {
            color: black;
            font-size: 14px;
            text-shadow: 0px 0px 2px black;
        }

        #errormessage {
            color: red;
            font-size: 14px;
            text-shadow: 0px 0px 2px black;
        }

        #title {
            color: black;
            text-shadow: 0px 0px 2px black;
        }

        #usertitle {
            color: black;
            text-shadow: 0px 0px 2px black;
        }

        #emailtitle {
            color: black;
            text-shadow: 0px 0px 2px black;
        }
    </style>
</head>
<body>
    <form method="post">
        <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
            <div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800">
                <div class="flex flex-col overflow-y-auto md:flex-row">
                    <div class="h-32 md:h-auto md:w-1/2">
                        <img aria-hidden="true"
                             class="object-cover w-full h-full dark:hidden"
                             src="~/img1/imagem-parking-stophere.png"
                             alt="Parking" />
                        <img aria-hidden="true"
                             class="hidden object-cover w-full h-full dark:block"
                             src="~/img1/imagem-parking-stophere.png"
                             alt="Parking" />
                    </div>
                    <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
                        <div class="w-full">
                            <h1 class="mb-4 text-xl font-weight-normal text-gray-700 dark:text-gray-200" id="title">
                                Iniciar Sessão
                            </h1>
                            <label class="block text-sm">
                                <span class="text-gray-700 dark:text-gray-400" id="usertitle">Usuário</span>
                                <input name="Email" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Dígite seu e-mail" />
                            </label>
                            <label class="block mt-4 text-sm">
                                <span class="text-gray-700 dark:text-gray-400" id="emailtitle">Senha</span>
                                <input name="Senha" class="block w-full mt-1 text-sm bg-gray-50 dark:border-gray-600 dark:bg-gray-700 focus:border-gray-500 focus:outline-none focus:shadow-outline-gray dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Dígite sua senha"
                                       type="password" />
                            </label>
                            <span>
                                <input value="Entrar" name="Entrar" type="submit" class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                       href="../index.html" style="vertical-align:middle" id="buttonEntrar">
                            </span>
                            <div>
                                <label class="mb-4 text-sm font-weight-normal text-gray-700 dark:text-gray-200">
                                    Ainda não tem cadastro?
                                </label>
                                <a href="/User/ChooseTypePerson/" id="linkCliqueAqui">
                                    Clique aqui
                                </a>
                            </div>
                            @if (ViewBag.Errors != null)
                            {
                                <div class="form-group">
                                    <span class="alert-warning" id="errormessage">@ViewBag.Errors</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

